{
   "in_file": "tests/D173HCKA.ulvz.db_8sb.pickle",
   "time_range": [
      -30.0,
      80.0
   ],
   "dist_range": [
      115.0,
      120.0
   ],
   "az_range": [
      null,
      null
   ],
   "ulvz": [
      90.0,
      0.0
   ],
   "component": "T",
   "scale": 15.0,
   "out_file": "gallery/waveforms_recordSection_azimuth_colored.png",
   "norm": "stream",
   "title": "",
   "phase_list": [
      "Sdiff",
      "sSdiff"
   ],
   "phase_ref": [
      "S",
      "Sdiff"
   ],
   "plot_station_name": false,
   "fill": false
}